* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.93993993993994) 0%, rgba(128, 131, 130, 0.96996996996997) 50%, rgba(1, 40, 48, 1) 100%);
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}